<mat-card class="card">
  <img mat-card-image src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/wA8neBZm54UY46HqbGtr0pPQDNb.jpg" alt="Photo of a Shiba Inu">
  <div class="wrapper">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Captain America: The Road to Civil War</mat-card-title>
      <mat-card-subtitle>(2016)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque, blanditiis corporis dolore dolorem iusto magni minima necessitatibus odit, reiciendis tempora voluptatibus. Accusantium amet architecto, deleniti fugiat id illum natus neque nostrum numquam perferendis qui sint temporibus unde. Adipisci architecto asperiores aspernatur blanditiis consectetur consequuntur, culpa, dolorem doloremque inventore iure libero magnam odit placeat, praesentium quae quaerat quibusdam quod recusandae repellendus sed tempora ullam voluptatum! Perferendis!
        This short explores the evolution of Evans’ Captain America character, from scrawny, scrappy fighter to supersoldier and, ultimately, rebellious hero. It also gives detailed look at Cap's role in the fracture and Chris Evans' performance of the iconic Avenger.
      </p>
    </mat-card-content>


    <mat-card-actions>
      <hr>
      <button mat-icon-button>
        <i class="material-icons">
          bookmark_border
        </i>
      </button>
      <button mat-icon-button>
        <i class="material-icons">
          stars
        </i>
      </button>
      <button mat-icon-button>
        <i class="material-icons">
          favorite_border
        </i>
      </button>
    </mat-card-actions>
  </div>
</mat-card>
